        body {
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
        }
        /* STYLE FOR THE HEADER SECTION*/
        
        .header-section {
            height: 100vh;
            background-image: url(./images/donation9.png);
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .header-section h1 {
            font-size: 50px;
            color: #fff;
            margin-bottom: 10px;
        }
        
        .header-section p {
            height: 3rem;
            width: 50rem;
            color: #fff;
            text-align: center;
            margin-bottom: 10px;
            word-spacing: 2px;
        }
        
        .btn-primary {
            text-decoration: none;
            background-color: #FF5959;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
        }
        /* STYLE FOR THE DONATE SECTION*/
        
        .donate-section {
            height: 100vh;
            background-color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .donate-section h1 {
            font-size: 40px;
            color: #000;
            margin-bottom: 10px;
        }
        
        .donate-section p {
            height: 3rem;
            width: 50rem;
            color: #707070;
            text-align: center;
            margin-bottom: 10px;
            word-spacing: 2px;
        }
        
        .pre-amount {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .pre-amount ul {
            display: flex;
            list-style-type: none;
        }
        
        .items {
            padding: 40px 30px;
            margin: 10px;
            font-size: 25px;
            font-weight: 700;
            border-radius: 5px;
            background-color: #FAFAFA;
            color: #707070;
        }
        
        .items-active {
            border: 2px solid #FF5959;
            background-color: #FFEEEE;
        }
        
        .amount-input {
            height: 20px;
            width: 60%;
            text-align: center;
            border-top: 1px solid transparent;
            border-bottom: 1px solid #DADADA;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            margin-bottom: 20px;
        }
        /* STYLE FOR THE DONATE PLANES SECTION*/
        
        .donate-plan-section {
            height: 100vh;
            background-color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .donate-plan-section h1 {
            font-size: 40px;
            color: #000;
            margin-bottom: 10px;
        }
        
        .donate-plan-section p {
            height: 3rem;
            width: 50rem;
            color: #707070;
            text-align: center;
            margin-bottom: 10px;
            word-spacing: 2px;
        }
        
        .donate-plan-cards {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .card {
            height: 380px;
            width: 380px;
            background-color: aquamarine;
            margin: 10px;
            margin-bottom: 150px;
        }
        
        .card h1 {
            font-size: 28px;
            color: #000;
            margin-bottom: 30px;
            margin-left: 20px;
            text-align: left;
        }
        
        .card p {
            width: 90%;
            color: #707070;
            margin-bottom: 10px;
            margin-left: 20px;
            text-align: left;
            word-spacing: 2px;
        }
        
        .img {
            width: 15%;
            height: 15%;
            padding-top: 50px;
            padding-left: 20px;
        }
        
        #food-card {
            background-color: #4f9da62c;
        }
        
        #shelter-card {
            background-color: #ff59592e;
        }
        
        #edu-card {
            background-color: #FFF4D6;
        }
        /* STYLING THE OVERVIEW SECTION*/
        
        .overview-section {
            height: 150vh;
            background-color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .fist-overview,
        .second-overview {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        .text-container {
            height: 450px;
            width: 450px;
            margin-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            word-spacing: 2px;
        }
        
        .text-container h1 {
            width: 90%;
            text-align: left;
        }
        
        .text-container p {
            width: 90%;
        }
        
        #text2-container {
            margin-right: 0;
            margin-left: 50px;
        }
        
        .img-container img {
            height: 450px;
            width: 450px;
        }
        /* GET MY UPDATE SECTION STYLING... */
        
        .get-my-updates {
            height: 100vh;
            background-color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .get-my-updates h1 {
            font-size: 40px;
            color: #000;
            margin-bottom: 10px;
        }
        
        .get-my-updates p {
            height: 3rem;
            width: 50rem;
            color: #707070;
            text-align: center;
            margin-bottom: 10px;
            word-spacing: 2px;
        }
        
        .mail-input {
            display: flex;
            padding: 50px 150px;
            background-color: #FFF4D6;
        }
        
        #subscribe {
            background-color: #D9D9D9;
            color: #AA9F9F;
            border: none;
            width: 250px;
        }
        
         ::placeholder {
            padding-left: 10px;
        }
        
        .subscribe-btn {
            text-decoration: none;
            background-color: #FF5959;
            color: #fff;
            padding: 10px 20px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        /* STYLING SITE FOOTER */
        
        .site-footer {
            height: 30vh;
            width: 100vw;
            background-color: #0B0D17;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .site-footer h1 {
            font-size: 25px;
            color: #FF5959;
            margin-bottom: 50px;
            font-style: italic;
            font-weight: 700;
        }
        
        .site-footer h3 {
            font-size: 10px;
            color: #D9DBE1;
            margin-bottom: 10px;
        }